.FormLogin-root {
    background-color: #D7E1E1;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.FormLogin-root-detail {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}
.login-logo {
    width: 500px;
    margin-top: 50px;
}
.login-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sh-logo {
    width: 400px;
    height: 150px;
    margin-top: 50px;
}

.formSignin {
    width: 100%;
    justify-content: center;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.label-input {
    justify-content: flex-start;
}

.text-input-2{
    margin-top: 20px;
    border-style: none;
    background-color: #C4C4C4;
    border-radius: 30px;
    height: 40px;
    width: 40%;
    padding: 10px;
    width: 100%;
}

.login-button {
    background-color: #7D7D7D;
    border-radius: 40px;
    border-style: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    font-size: 1em;
}
.need-help {
    width: 40%;
    display: flex;
    justify-content: space-between;
}