.form-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    line-height: 2;
    font-size: .75rem;
}

.from {
    display: flex;
}

.form-logo {
    margin-top: 30px;
}
.error_alert {
    color: red;
    font-size: .5rem;
}

.form-logo-in-1 {
    width: 125px;
    height: 50px;
}

.form-logo-in-2 {
    width: 200px;
    height: 40px;
    margin-left: 40px;
}
.form-add-margin {
    margin-left: 10px;
}

.form-info {
    width: 60%;
    border: .5px solid gainsboro;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-info-detail {
    text-align: start;
    margin-top: 20px;
}
.form-info-detail > * {
    margin: 20px;
}
.line-break {
    border: 0.5px solid black;
    width: 80%;
}
.picbutton {
    display: flex;
}
.fileChoose{
    border: none;
    background-color: #7DB7A5;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
}
.phonenumber-box {
    display: flex;
    
}

.box-text {
    margin-right: 20px;
    color:gray;
    width: 100%;
}

.box-text-sub {
    margin-left: 20px;
}

@media only screen and (max-width: 400px) {
    .form-info {
        width: 80%;
    }

    .form-logo-in-2 {
        width: 140px;
        height: 40px;
        margin-left: 20px;
    }

}
